header{
    height: 1.6rem;
    background-color: #eb5929;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>p{
    font-size: .44rem;
    color: #fff;
    margin-left: .34rem;
}
header>div{
    height: .7rem;
    width: 2rem;
    font-size: .32rem;
    background-color:#fff;
    color:#eb5a29;
    border-radius: .35rem;
    line-height: .7rem;
    text-align: center;
    margin-right: .22rem;
}
nav{
    height: .92rem;
    border-bottom: 1px solid #7c7c7c;
}
nav ul{
    height: .92rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .32rem;
}
